body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.product-card{
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
}
.product-container{
  width: 80%;
 display: flex;
 flex-wrap: wrap; 
 gap: 5px;
justify-content: center;
margin: 10px 0px;

}
.pagination{
  display: flex;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 10px 0px;
}
.active{
  background-color: red;
}